body{
    background-image: url(../img/backgroundlogin.png);
    color: white;
}

h1{
    text-align: center;
    margin-top: 20vh;
}

.project{
    text-align: center;
    margin-top: 10vh;
}

label{
    font-size: 2.5vh;
}

.name{
    padding-top: 3vh;
}

.description{
    padding-top: 3vh;
}

.link{
    padding-top: 3vh;
}

.btn-val{
    margin-top: 3vh;
}
